@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
            @if (@Model.ImagePath != string.Empty)
            {
                <img src="@Model.ImagePath" alt="Article Image" style="width: 400px" />
            }
        </header>
        <p>
            @Model.Content
        </p>
        @*<iframe width="854" height="480" src="https://www.youtube.com/embed/@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>*@





        <small class="author">
            --author @Model.Author.FullName
        </small>
        @foreach (var comment in Model.Comments)
            {
            <div>@Html.Raw(comment.Content)</div>
            <small class="author">
                --author @comment.Author.FullName
            </small>
        }

        @if (this.User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("PostComment", "Article", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group col-sm-pull-4">
                    @Html.Label("Post a comment", new { @class = "control-label " })
                    <br />
                    
                    <div class="col-sm-pull-3 col-sm-pull-0 ">
                        @Html.TextArea("commentContent", new { @class = "form-control" })
                    </div>
                    
                    
                    <
                    <div class="form-group col-sm-10 ">
                        <input type="submit" value="Post" class="btn btn-success" />
                    </div>
                </div>

               
            }
            <br />
            <br />
        }
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })


        </footer>
    </article>
</div>
<hr />
